<header class="max-container" fxLayout="row" fxLayoutAlign="space-between center">

    <img class="logo" src="./../../../../assets//images/thumbnail.png" />
    <div fxLayout="row" fxLayoutAlign="center">
        <ul fxLayout="row" class="links">
            <li class="underline">Home</li>
            <li>About us</li>
            <li> Solutions</li>
            <li>Caents & Testimonials</li>
            <li>Our Team</li>
            <li>Blog</li>
        </ul>

        <button mat-button class="btn lang-btn" fxLayoutAlign="center center">ع</button>
    </div>
</header>