header{
    background-color: white;
    padding: 10px 0;
    margin-bottom: 50px;
    .logo{
        width: 186px;
        height: 85px;
        object-fit: contain;
    }
    .links{
        color:#333333;
        list-style: none;
        height: fit-content;
        li{
            font-size: 1.125rem;
            margin-right: 1.563rem;
            font-family: 'montserrat-semiBold';
        }
    }
    .lang-btn{
        width: 34px;
        height: 34px;
        border: 2px solid #0071BCB3;
        border-radius: 4px;
        min-width: unset!important;
    }
}


.underline {
    text-decoration: none; 
    position: relative; 
  }   

 .underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: #0071BC;
 }

 .decore-circle{
    // top: -693.7850341796875px;
    // left: -256.91259765625px;
    // width: 1204px;
    // height: 995px;
    // transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);
    // background: transparent linear-gradient(18deg, #C9E8FC 0%, #F5FBFF 100%) 0% 0% no-repeat padding-box;
    // opacity: 0.7;
 }