@font-face {
  font-family: 'montserrat-regular';
  src: url('./../../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'montserrat-semiBold';
  src: url('./../../../assets/fonts/Montserrat//Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('./../../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('./../../../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

.montserrat-bold {
  font-family: 'montserrat-bold';
}

.montserrat-regular {
  font-family: 'montserrat-regular';
}

.montserrat-semiBold {
  font-family: 'montserrat-semiBold';
}

.montserrat-medium {
  font-family: 'montserrat-medium';
}