.create__container{
    margin-bottom: 2rem;
    .create-btn{
        background: #0071BC;
        border-radius: 20px;
        color: white;
        font-family: 'montserrat-regular';
    }
    .count{
        font-size: 1rem;
        font-family: 'montserrat-regular';
    
        .num{
            font-family: montserrat-semiBold;
        }
    }
}

::ng-deep.pagination{
    margin: 50px 0;
.mat-paginator-container{
    display: flex;
    justify-content: center !important;
    .mat-paginator-range-label{
        order: 3;
    }
    button{
        width: 40px;
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D5E0E6CC;
        border-radius: 4px;
        opacity: 1;
        color: #71A2BC;
        margin: 0 5px;
        &.mat-paginator-navigation-first{
            order: 1;
        }
        &.mat-paginator-navigation-previous{
            order: 2;
        }
        &.mat-paginator-navigation-next{
            order: 4;
        }
        &.mat-paginator-navigation-last{
            order: 5;
        }
    }
}
}