<div class="create__container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="count"><span class="num"> {{postsLength}}</span> Posts</div>
    <button mat-raised-button class="create-btn" (click)="openPostDialog()"> Create New Post</button>
</div>
<table mat-table [dataSource]="postsList" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="column !='actions'">{{element[column]}}</div>
            <div *ngIf="column == 'actions'">
                <div fxLayout="row" class="actions">
                    <i class="material-icons pointer" matTooltip="view">visibility</i>
                    <i class="material-icons pointer" matTooltip="delete" (click)="delete(element)">delete</i>
                    <i class="material-icons pointer" matTooltip="edit" (click)="openPostDialog(element)">create</i>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="pagination" (page)="changePage($event)" pageSize="pageSize" [length]="postsLength"
    hidePageSize="true" showFirstLastButtons>
</mat-paginator>