<footer fxLayout="column">
    <div class="footer-content max-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo">
            <svg id="expert-apps-logo-white" xmlns="http://www.w3.org/2000/svg" width="151" height="45"
                viewBox="0 0 151 45">
                <g id="Group_645" data-name="Group 645" transform="translate(53.359 26.399)">
                    <path id="Path_14" data-name="Path 14"
                        d="M118.39,33.59h0a1.86,1.86,0,0,0,1.86,1.86h3.72a5.579,5.579,0,0,1,5.58,5.58h0a5.579,5.579,0,0,1-5.58,5.58h-9.291V42.89h9.291a1.86,1.86,0,0,0,1.86-1.86h0a1.86,1.86,0,0,0-1.86-1.86h-3.72a5.579,5.579,0,0,1-5.58-5.58h0a5.579,5.579,0,0,1,5.58-5.58h5.524v3.72H120.25A1.854,1.854,0,0,0,118.39,33.59Z"
                        transform="translate(-61.473 -28.01)" fill="#fff" />
                    <path id="Path_15" data-name="Path 15"
                        d="M74.694,46.6,68.714,28.01H63.45L57.47,46.6h4.074l4.539-14.834L70.621,46.6Z"
                        transform="translate(-57.47 -28.01)" fill="#fff" />
                    <path id="Path_16" data-name="Path 16"
                        d="M93.121,33.59a5.57,5.57,0,0,1-5.571,5.58H81.97v7.44H78.25V35.45h9.291a1.8,1.8,0,0,0,1.311-.549,1.855,1.855,0,0,0-1.311-3.171H78.25V28.01h9.291a5.528,5.528,0,0,1,3.943,1.637A5.665,5.665,0,0,1,92.8,31.73,5.358,5.358,0,0,1,93.121,33.59Z"
                        transform="translate(-58.924 -28.01)" fill="#fff" />
                    <path id="Path_17" data-name="Path 17"
                        d="M111.381,33.59a5.57,5.57,0,0,1-5.571,5.58h-5.58v7.44H96.51V35.45H105.8a1.8,1.8,0,0,0,1.311-.549A1.855,1.855,0,0,0,105.8,31.73H96.51V28.01H105.8a5.528,5.528,0,0,1,3.943,1.637,5.665,5.665,0,0,1,1.311,2.083A5.358,5.358,0,0,1,111.381,33.59Z"
                        transform="translate(-60.202 -28.01)" fill="#fff" />
                </g>
                <g id="Group_646" data-name="Group 646" transform="translate(53.282 3.822)">
                    <path id="Path_18" data-name="Path 18"
                        d="M61.16,7.839v3.72H72.525l1.1,1.869-1.1,1.86H61.16v3.729H70.1l-2.251,3.72H57.44V4.11H67.866l2.251,3.729Z"
                        transform="translate(-57.44 -4.11)" fill="#fff" />
                    <path id="Path_19" data-name="Path 19"
                        d="M115.239,7.839v3.72h7.077v3.729h-7.077v3.729h11.179v3.72H111.51V4.11h14.908V7.839Z"
                        transform="translate(-61.223 -4.11)" fill="#fff" />
                    <path id="Path_20" data-name="Path 20"
                        d="M108.118,9.7a5.581,5.581,0,0,1-5.589,5.589H96.939v7.45H93.21V11.56h9.319a1.824,1.824,0,0,0,1.321-.549,1.861,1.861,0,0,0-1.311-3.181H93.219V4.11h9.319a5.6,5.6,0,0,1,5.273,3.729A5.821,5.821,0,0,1,108.118,9.7Z"
                        transform="translate(-59.943 -4.11)" fill="#fff" />
                    <path id="Path_21" data-name="Path 21"
                        d="M138.938,15.289a5.589,5.589,0,1,0,0-11.179h-9.319V7.839h9.319A1.86,1.86,0,0,1,140.8,9.7a1.84,1.84,0,0,1-.549,1.321,1.862,1.862,0,0,1-1.321.549H129.61V22.748h3.729V15.3h1.256l5.645,7.45h4.287l-5.645-7.45h.056Z"
                        transform="translate(-62.49 -4.11)" fill="#fff" />
                    <path id="Path_22" data-name="Path 22" d="M161.389,4.11V7.839h-5.608v14.9h-3.729V7.839H146.49V4.11Z"
                        transform="translate(-63.671 -4.11)" fill="#fff" />
                    <path id="Path_23" data-name="Path 23"
                        d="M76.083,4.11H71.73l5.645,9.319-5.645,9.31h4.353l5.636-9.31Z"
                        transform="translate(-58.44 -4.11)" fill="#fff" />
                    <path id="Path_24" data-name="Path 24"
                        d="M88.115,4.11h4.353l-5.645,9.319,5.645,9.31H88.115l-5.645-9.31Z"
                        transform="translate(-59.191 -4.11)" fill="#fff" />
                </g>
                <g id="Group_647" data-name="Group 647">
                    <path id="Path_1" data-name="Path 1" d="M24.724,39.1l2.1,2.1-6.213,6.129h-4.2Z"
                        transform="translate(-1.148 -2.387)" fill="#fff" />
                    <path id="Path_2" data-name="Path 2" d="M9.1,14.142,0,23.247v-4.2l7-7Z"
                        transform="translate(0 -0.725)" fill="#fff" />
                    <path id="Path_3" data-name="Path 3" d="M13.085,18.422,0,31.5V27.3L10.984,16.32Z"
                        transform="translate(0 -0.962)" fill="#fff" />
                    <path id="Path_4" data-name="Path 4" d="M17.289,22.932,0,40.221v-4.2L15.187,20.83Z"
                        transform="translate(0 -1.108)" fill="#fff" />
                    <path id="Path_5" data-name="Path 5" d="M9.1,14.142,0,23.247v-4.2l7-7Z"
                        transform="translate(0 -0.725)" fill="#fff" />
                    <path id="Path_6" data-name="Path 6" d="M13.085,18.422,0,31.5V27.3L10.984,16.32Z"
                        transform="translate(0 -0.962)" fill="#fff" />
                    <path id="Path_7" data-name="Path 7" d="M17.289,22.932,0,40.221v-4.2L15.187,20.83Z"
                        transform="translate(0 -1.108)" fill="#fff" />
                    <path id="Path_8" data-name="Path 8" d="M13.085,18.422,0,31.5V27.3L10.984,16.32Z"
                        transform="translate(0 -0.962)" fill="#fff" />
                    <path id="Path_9" data-name="Path 9" d="M9.1,14.142,0,23.247v-4.2l7-7Z"
                        transform="translate(0 -0.725)" fill="#fff" />
                    <path id="Path_10" data-name="Path 10" d="M17.289,22.932,0,40.221v-4.2L15.187,20.83Z"
                        transform="translate(0 -1.108)" fill="#fff" />
                    <path id="Path_11" data-name="Path 11" d="M26.826,41.2l-6.213,6.129h-4.2L24.724,39.1Z"
                        transform="translate(-1.148 -2.387)" fill="#fff" />
                    <path id="Path_12" data-name="Path 12"
                        d="M44.771,40.876v4.068h-.084L27.78,27.988l-2.1,2.118,14.75,14.838H36.206L23.585,32.225l-12.7,12.719h-4.2l19-19.074-2.1-2.118L2.474,44.944H0v-1.65L21.484,21.643.009,0H4.2L23.576,19.524l2.1-2.118L8.407,0h4.2L27.789,15.3l4.827-4.865,4.3-4.33a1.485,1.485,0,0,1,2.1,0,1.5,1.5,0,0,1,.437,1.059,1.466,1.466,0,0,1-.437,1.059L33.3,13.985,25.7,21.652Z"
                        fill="#fff" />
                    <path id="Path_13" data-name="Path 13"
                        d="M46.881,8.668a6.971,6.971,0,0,0,.1-1.246,8.045,8.045,0,0,0-.1-1.246A7.4,7.4,0,0,0,39.748,0h-.353a7.406,7.406,0,0,0-5.069,2.176L27.62,8.882h0l2.1,2.1h0l6.7-6.7a4.455,4.455,0,0,1,6.306,6.3L31.814,21.474,46.7,36.355v-4.2L36.018,21.474l8.8-8.8A7.331,7.331,0,0,0,46.881,8.668Z"
                        transform="translate(-1.933)" fill="#fff" />
                </g>
            </svg>

        </div>

        <ul class="links" fxLayout="row">
            <li>About us</li>
            <li>Solutions</li>
            <li>Contact US</li>
            <li>Careers</li>
        </ul>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="178" height="46" viewBox="0 0 178 46">
                <g id="Social_Networks_btns" data-name="Social Networks btns" transform="translate(-681 -5324)">
                    <g id="LinkedIn" transform="translate(434 4101)">
                        <circle id="circle" cx="23" cy="23" r="23" transform="translate(379 1223)"
                            fill="rgba(255,255,255,0.1)" />
                        <path id="linkedin-icon"
                            d="M20,6H16.016V-.75a1.859,1.859,0,0,0-.727-1.359,2.329,2.329,0,0,0-1.523-.562,1.547,1.547,0,0,0-1.289.563A2.355,2.355,0,0,0,11.984-.75V6H8V-6h3.984v2.016A3.7,3.7,0,0,1,13.578-5.3,4.671,4.671,0,0,1,15.5-5.766,4.442,4.442,0,0,1,18.688-4.43,4.513,4.513,0,0,1,20-1.266ZM5.984,6H2V-6H5.984ZM4.016-12a1.869,1.869,0,0,1,1.406.586,1.987,1.987,0,0,1,.563,1.43,1.908,1.908,0,0,1-.562,1.406,1.908,1.908,0,0,1-1.406.563,1.987,1.987,0,0,1-1.43-.562A1.869,1.869,0,0,1,2-9.984a1.945,1.945,0,0,1,.586-1.43A1.945,1.945,0,0,1,4.016-12Z"
                            transform="translate(391 1249)" fill="#fff" />
                    </g>
                    <g id="Facebook" transform="translate(368 4041)">
                        <circle id="circle-2" data-name="circle" cx="23" cy="23" r="23" transform="translate(379 1283)"
                            fill="rgba(255,255,255,0.1)" />
                        <path id="facebook-icon"
                            d="M17.775,3.225V7.215H15.766a.883.883,0,0,0-.748.493,2.142,2.142,0,0,0-.234,1.009v2.488h2.991v4.038H14.785v7.981H10.766V15.243H7.775V11.206h2.991V7.215a4,4,0,0,1,4.019-3.991Z"
                            transform="translate(389.225 1292.775)" fill="#fff" />
                    </g>
                    <g id="Twitter" transform="translate(294 3981)">
                        <circle id="circle-3" data-name="circle" cx="23" cy="23" r="23" transform="translate(387 1343)"
                            fill="rgba(255,255,255,0.1)" />
                        <path id="twitter-icon"
                            d="M22.111,7.171a9.182,9.182,0,0,1-2.332.661,4.094,4.094,0,0,0,1.794-2.248,8.159,8.159,0,0,1-2.6.97,4.144,4.144,0,0,0-3.049-1.278,4.1,4.1,0,0,0-2.87,1.19A4.008,4.008,0,0,0,11.842,9.33a3.153,3.153,0,0,0,.135.926A12.291,12.291,0,0,1,7.2,8.978,11.426,11.426,0,0,1,3.5,6.025a4.074,4.074,0,0,0-.045,3.967,3.975,3.975,0,0,0,1.3,1.41,4.153,4.153,0,0,1-1.839-.485v.044a3.848,3.848,0,0,0,.919,2.579,4.147,4.147,0,0,0,2.354,1.388,4.148,4.148,0,0,1-1.076.132,3.186,3.186,0,0,1-.762-.088,4,4,0,0,0,1.435,2.006,4.1,4.1,0,0,0,2.377.815,7.468,7.468,0,0,1-2.332,1.278,8.463,8.463,0,0,1-2.735.441q-.493,0-.987-.044a12.322,12.322,0,0,0,2.937,1.322,11.4,11.4,0,0,0,3.341.485q5.7-.22,8.677-3.747a11.9,11.9,0,0,0,3.027-7.713l-.045-.529A8.742,8.742,0,0,0,22.111,7.171Z"
                            transform="translate(397.889 1352.725)" fill="#fff" />
                    </g>
                </g>
            </svg>

        </div>
    </div>
    <div class="copy-right" fxLayoutAlign="center">2020 <div class="expert-txt">Expert Apps</div>, All Rights Reserved</div>
</footer>