footer{
    background-color: #005B97;
    .footer-content{
    padding: 3.75rem 0;

        .links{
            margin: 0;
            list-style-type: none;
            color: white;
            font-size: 1.125rem;
            li{
                margin-right: 25px;
                font-family: 'montserrat-semiBold';
                &:last-child{
                    margin-right: 0;
                }
            }
        }
   
    }
    .copy-right{
        color: white;
        font-size: 0.875rem;
        background: #000000 0% 0% no-repeat padding-box;
        opacity: 0.2;
        padding: 1.25rem;
        font-family: 'montserrat-regular';
        .expert-txt{
            font-family: 'montserrat-semiBold';
        }
    }

}

