<!-- <divider></divider> -->
<mat-card class="card">
    <h1>{{data?'edit':'add'}} Post</h1>
    <mat-divider></mat-divider>

    <form [formGroup]="form" (ngSubmit)="save()" novalidate>

        <mat-card-content fxLayout="column">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput placeholder="title" [formControl]="title" required>
                <mat-error *ngIf="title.invalid">title is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput placeholder="type body of posts" [formControl]="body" required></textarea>
                <mat-error *ngIf="body.errors?.required && body.touched">body is required</mat-error>
                <mat-error *ngIf="body.errors?.maxlength">max length 255</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" [disabled]="form.invalid" mat-raised-button>Save</button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
    </form>

</mat-card>