
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$postsApp-primary: mat.define-palette(mat.$indigo-palette);
$postsApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$postsApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$postsApp-theme: mat.define-light-theme((
  color: (
    primary: $postsApp-primary,
    accent: $postsApp-accent,
    warn: $postsApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($postsApp-theme);

/* You can add global styles to this file, and also import other style files */

@import './app/scss/variables/variables';

html { 
  font-size: 100%;
 }

body { 
  margin: 0; 
  font-family: montserrat-regular, Arial, Helvetica, sans-serif; 
 font-size: 1.4em;
}

.pointer{
  cursor: pointer;
}

.max-container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}